<div class="about index-section" id="about">
  <h1 class="header">About Us</h1>
  <div class="about__text">
    <h4>We are a creative and development team with a focus on custom Shopify development.</h4>
    <div class="about__paragraph">
      <p>It’s 2020 and the word agency is being thrown around a lot. Agencies are claiming to be experts in all things development, design, branding, and to know every platform, web builder, and software framework.</p>
      <p>We do not.</p>
      <p>We are Shopify Experts. We have a deep knowledge of Shopify — from development and design to custom themes to app integrations to custom functionality. Our goal is to work with your team to bring your brand online and to life. We will never charge for chatting on the phone, we do not have project management fees, and we never, ever outsource development at a lower cost. Our team enjoys what we do, and we will always be the ones doing it.</p>
      <p>The work of Cardinal & Co. long precedes the company itself — we were already building Shopify sites, so we thought we’d make it official. Michael, Natalie, and Stephan have strong backgrounds in software engineering, web development, design, and E-Commerce so it just made sense to build online stores for cool people selling cool things.</p>
    </div>
  </div>
  <div class="about__grid">
    <div class="about__employee about__employee--michael">
      <div class="about__employee-image"></div>
      <div class="about__employee-text">
        <h4>Michael</h4>
        <p>Founded Cardinal & Co. in 2015 (previously Cardinal Designs) • Stanford Graduate • Formerly at Teach For America and The Flatiron School • Favorite Site - <a href="https://codesleeprepeat.com/">CodeSleepRepeat</a></p>
      </div>
    </div>
    <div class="about__employee about__employee--natalie">
      <div class="about__employee-image"></div>
      <div class="about__employee-text">
        <h4>Natalie</h4>
        <p>Joined Cardinal & Co. in June 2018 • BFA in Studio Art • Former Full Stack engineer for various Agriculture startups • Favorite site - <a href="https://www.avalow.com/" >Avalow</a></p>
        <br>
        <p class="small bold gray">*Drawings by Natalie</p>
      </div>
    </div>
    <div class="about__employee about__employee--stephan">
      <div class="about__employee-image"></div>
      <div class="about__employee-text">
        <h4>Stephan</h4>
        <p>Joined Cardinal & Co. in January 2020 • USC and ASU graduate • Full Stack Developer at various startups • Favorite Site - <a href="https://raleighreclaimed.com/">Raleigh Reclaimed</a></p>
      </div>
    </div>
  </div>
</div>