<div class="contact index-section" id="contact">
  <h1 class="header">Stay in touch</h1>
  <div class="contact__container">
    <div class="contact__pattern"></div>
    <div class="contact__form">
      <form action="https://formspree.io/michael@cardinaldesigns.co" method="POST">
        <label for="name">Your Name</label>
        <input type="text" name="name" />
        <label for="_replyto">Your Email</label>
        <input type="email" name="_replyto" />
        <label for="project">Project Type:</label>
        <div class="select-container">
          <select name="project">
            <option selected disabled>Choose...</option>
            <option value="Custom Shopify Site (Design + Development)">Custom Shopify Site (Design + Development)</option>
            <option value="Custom Shopify Site (Development)">Custom Shopify Site (Development)</option>
            <option value="E-Commerce Site Transfer to Shopify">E-Commerce Site Transfer to Shopify</option>
            <option value="Shopify Site Upgrade (Design and/or Development)">Shopify Site Upgrade (Design and/or Development)</option>
            <option value="App Installation">App Installation</option>
            <option value="Shopify Custom Functionality">Shopify Custom Functionality</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <label for="message">Additional Project Details</label>
        <textarea name="message" rows="7"></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
  </div>
</div>