<div class="hero">
  <div class="logo">
    <img src="images/logo.png" alt="Cardinal & Co. logo" />
  </div>
  <div class="hero__bg-container js-hero__bg-container">
    <div class="hero__text">
      <p class="large">Cardinal & Co.</p>
      <h1 class="large"><span class="effect-1">We like Shopify,</span><br><span class="effect-2">Like a lot.</span></h1>
    </div>
    <div class="hero__bg"></div>
  </div>
  <div class="hero__nav">
    <a href="#work">Work</a>
    <div class="hero__nav--divider"></div>
    <a href="#about">About</a>
    <div class="hero__nav--divider"></div>
    <a href="#contact">Contact</a>
  </div>
</div>