<div class="hero">
  <div class="logo">
    <img src="images/logo.png" />
  </div>
  <div class="hero__bg-container">
    <div class="hero__bg"></div>
  </div>
  <div class="hero__text">
    <p class="large">Cardinal & Co.</p>
    <h1 class="large">We like Shopify.<br>Like a lot.</h1>
  </div>
</div>