<div class="what-we-do index-section">
  <h1 class="header">What We Do</h1>
  <div class="what-we-do__slider js-what-we-do__slider">
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon"></div>
        <p class="small bold gray">Custom Theme Development</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon"></div>
        <p class="small bold gray">Custom Theme Design</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon"></div>
        <p class="small bold gray">Custom Template Development</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon"></div>
        <p class="small bold gray">App Installation</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon"></div>
        <p class="small bold gray">Theme Transfer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon"></div>
        <p class="small bold gray">External Page Development</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon"></div>
        <p class="small bold gray">Custom Site Minimum</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
  </div>
  <div class="what-we-do__arrows"></div>
</div>