<div class="what-we-do index-section">
  <h1 class="header">What We Do</h1>
  <div class="what-we-do__slider js-what-we-do__slider">
    <div class="what-we-do__slide what-we-do__slide-1">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon">
          <svg id="Layer_1" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Archive" d="m105.727 48.271h-83.454c-5.365 0-9.729 4.364-9.729 9.729v47.727c0 5.365 4.364 9.729 9.729 9.729h83.454c5.365 0 9.729-4.364 9.729-9.729v-47.727c0-5.364-4.364-9.729-9.729-9.729zm7.729 57.456c0 4.262-3.468 7.729-7.729 7.729h-83.454c-4.262 0-7.729-3.468-7.729-7.729v-47.727c0-4.262 3.467-7.729 7.729-7.729h83.454c4.262 0 7.729 3.467 7.729 7.729zm-74.245-92.183c0-.552.448-1 1-1h47.578c.553 0 1 .448 1 1s-.447 1-1 1h-47.578c-.552 0-1-.448-1-1zm-10.04 17.864c0-.552.448-1 1-1h67.657c.553 0 1 .448 1 1s-.447 1-1 1h-67.657c-.552 0-1-.448-1-1z"/></svg>
        </div>
        <p class="xsmall bold gray">Custom Theme Development</p>
        <p class="small">Custom Shopify theme that is fully editable via the theme customizer tool. Built for all devices and browsers with the latest trends and standards.</p>
      </div>
    </div>
    <div class="what-we-do__slide what-we-do__slide-2">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon">
          <svg id="Layer_1" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Color_Palette" d="m100.385 27.615c-20.063-20.063-52.707-20.063-72.77 0s-20.063 52.707 0 72.77c10.031 10.031 23.208 15.047 36.385 15.047s26.354-5.016 36.385-15.047c20.062-20.063 20.062-52.707 0-72.77zm-1.414 71.356c-19.283 19.283-50.658 19.283-69.941 0s-19.283-50.659 0-69.941c9.641-9.642 22.305-14.463 34.97-14.463s25.329 4.82 34.971 14.462c19.283 19.283 19.283 50.659 0 69.942zm-20.423-68.764c-11.571 0-20.985 9.414-20.985 20.985s9.414 20.985 20.985 20.985 20.985-9.414 20.985-20.985-9.414-20.985-20.985-20.985zm0 39.97c-10.469 0-18.985-8.517-18.985-18.985s8.517-18.985 18.985-18.985 18.985 8.517 18.985 18.985-8.516 18.985-18.985 18.985zm-39.849-4.639c0-4.868-3.961-8.829-8.83-8.829s-8.83 3.961-8.83 8.829c0 4.869 3.961 8.83 8.83 8.83s8.83-3.961 8.83-8.83zm-8.829 6.83c-3.766 0-6.83-3.063-6.83-6.83 0-3.766 3.064-6.829 6.83-6.829s6.83 3.063 6.83 6.829c-.001 3.767-3.065 6.83-6.83 6.83zm3.918 10.588c-3.104 3.104-3.104 8.153 0 11.257 1.552 1.552 3.589 2.328 5.628 2.327 2.038 0 4.077-.775 5.628-2.327 1.503-1.503 2.332-3.502 2.332-5.628 0-2.127-.828-4.126-2.332-5.629-3.104-3.103-8.153-3.103-11.256 0zm9.841 9.843c-2.323 2.324-6.104 2.324-8.428 0s-2.324-6.104 0-8.429c1.162-1.162 2.688-1.742 4.214-1.742s3.052.58 4.214 1.742c1.126 1.126 1.746 2.622 1.746 4.215 0 1.592-.62 3.088-1.746 4.214zm18.833-1.758c-3.909 0-7.09 3.181-7.09 7.09s3.181 7.089 7.09 7.089 7.089-3.18 7.089-7.089-3.18-7.09-7.089-7.09zm0 12.179c-2.807 0-5.09-2.283-5.09-5.089 0-2.807 2.283-5.09 5.09-5.09 2.806 0 5.089 2.283 5.089 5.09 0 2.806-2.283 5.089-5.089 5.089zm18.647-19.033c-2.425 2.425-2.425 6.371 0 8.796 1.213 1.213 2.806 1.818 4.398 1.818s3.186-.606 4.397-1.818c2.425-2.425 2.425-6.371 0-8.796-2.423-2.426-6.369-2.424-8.795 0zm7.382 7.381c-1.646 1.645-4.322 1.644-5.968 0-1.646-1.646-1.646-4.322 0-5.968 1.646-1.645 4.322-1.646 5.968 0s1.646 4.323 0 5.968zm-55.934-55.934c-3.782 3.782-3.782 9.935 0 13.716 1.891 1.892 4.375 2.836 6.858 2.836s4.968-.945 6.858-2.836c1.832-1.832 2.841-4.268 2.841-6.858s-1.009-5.026-2.841-6.858c-3.78-3.782-9.935-3.782-13.716 0zm12.303 12.303c-3.002 3.002-7.887 3.002-10.889 0s-3.002-7.886 0-10.888c1.501-1.501 3.473-2.251 5.444-2.251s3.943.75 5.444 2.251c1.454 1.454 2.255 3.388 2.255 5.444.001 2.056-.8 3.989-2.254 5.444z"/></svg>
        </div>
        <p class="xsmall bold gray">Custom Theme Design</p>
        <p class="small">Full design mockups integrating your brand, identity, and preferred aesthetics. Designs will include mobile options as well as modern and up to date styles for all templates and pages needed.</p>
      </div>
    </div>
    <div class="what-we-do__slide what-we-do__slide-3">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon">
          <svg id="Layer_1" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Windows" d="m56.693 12.544h-42.149c-1.103 0-2 .897-2 2v42.149c0 1.103.897 2 2 2h42.149c1.103 0 2-.897 2-2v-42.149c0-1.103-.897-2-2-2zm0 45.149v-1h-42.149v-42.149h42.149v42.149h.001zm56.763-45.149h-42.149c-1.103 0-2 .897-2 2v42.149c0 1.103.897 2 2 2h42.149c1.103 0 2-.897 2-2v-42.149c0-1.103-.897-2-2-2zm0 45.149v-1h-42.149v-42.149h42.149v42.149h.001zm-56.763 11.614h-42.149c-1.103 0-2 .897-2 2v42.149c0 1.103.897 2 2 2h42.149c1.103 0 2-.897 2-2v-42.149c0-1.103-.897-2-2-2zm0 45.149v-1h-42.149v-42.149h42.149v42.149h.001zm56.763-45.149h-42.149c-1.103 0-2 .897-2 2v42.149c0 1.103.897 2 2 2h42.149c1.103 0 2-.897 2-2v-42.149c0-1.103-.897-2-2-2zm0 45.149v-1h-42.149v-42.149h42.149v42.149h.001z"/></svg>
        </div>
        <p class="xsmall bold gray">Custom Template Development</p>
        <p class="small">Focus on any specific Shopify template to provide a competitive advantage with a custom product template, collection templates, or blog template.</p>
      </div>
    </div>
    <div class="what-we-do__slide what-we-do__slide-4">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon">
          <svg id="Layer_1" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m99.147 42.88c3.811 0 7.621-1.45 10.521-4.351 2.811-2.81 4.358-6.546 4.358-10.52s-1.548-7.71-4.358-10.52c-5.803-5.802-15.243-5.801-21.044 0-2.811 2.81-4.358 6.545-4.358 10.52 0 3.974 1.548 7.71 4.358 10.52 2.902 2.901 6.713 4.351 10.523 4.351zm-9.108-23.976c5.022-5.02 13.193-5.021 18.216 0 2.433 2.432 3.772 5.666 3.772 9.105s-1.34 6.673-3.772 9.105c-5.022 5.021-13.193 5.02-18.216 0-2.433-2.432-3.772-5.666-3.772-9.105s1.339-6.673 3.772-9.105zm-20.556 95.267c.049.55-.358 1.035-.908 1.084-1.531.136-3.061.202-4.582.202-13.613.001-26.667-5.359-36.378-15.067-10.971-10.968-16.369-26.124-14.81-41.582.056-.55.545-.943 1.095-.895.55.056.95.546.895 1.096-1.499 14.857 3.689 29.425 14.234 39.967 10.376 10.373 24.725 15.578 39.37 14.287.55-.051 1.037.358 1.084.908zm9.907-98.247c-.158.529-.707.834-1.244.674-17.443-5.181-36.264-.421-49.116 12.427-4.223 4.222-7.611 9.108-10.069 14.523-.167.369-.531.586-.911.587-.138 0-.279-.029-.413-.09-.503-.229-.725-.821-.497-1.324 2.558-5.634 6.083-10.718 10.476-15.11 13.371-13.369 32.951-18.324 51.1-12.93.529.157.831.714.674 1.243zm21.023 84.466c-4.539 4.538-9.819 8.146-15.694 10.727-.131.057-.268.084-.401.084-.385 0-.752-.223-.917-.598-.222-.506.009-1.096.514-1.318 5.647-2.479 10.723-5.947 15.085-10.309 12.828-12.826 17.58-31.631 12.401-49.076-.157-.529.145-1.085.675-1.243s1.086.145 1.243.674c5.387 18.149.442 37.714-12.906 51.059z"/></svg>
        </div>
        <p class="xsmall bold gray">App Installation</p>
        <p class="small">Integrate with the apps you need configured for your store, including subscription options, upsell/cross selling, email marketing integration, referrals, and more.</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon">
          <svg id="Layer_1" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Right" d="m84.171 69.444c1.454-1.454 2.255-3.388 2.255-5.444s-.801-3.99-2.255-5.444l-44.304-44.305c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l44.305 44.305c1.832 1.832 2.841 4.268 2.841 6.858s-1.009 5.026-2.841 6.858l-44.305 44.305c-.195.195-.451.293-.707.293s-.512-.098-.707-.293c-.391-.391-.391-1.023 0-1.414z"/></svg>
        </div>
        <p class="xsmall bold gray">Theme Transfer</p>
        <p class="small">Keep your designs and store functionality with a theme transfer from WooCommerce, Squarespace, or another platform to Shopify.</p>
      </div>
    </div>
    <div class="what-we-do__slide">
      <div class="what-we-do__slide-container">
        <div class="what-we-do__icon">
          <svg id="Layer_1" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m113.87 44.609-18.928-20.56c-1.133-1.23-2.741-1.936-4.414-1.936h-61.984c-8.822 0-16 7.178-16 16v51.773c0 8.822 7.178 16 16 16h70.912c8.822 0 16-7.178 16-16v-41.213c0-1.51-.563-2.953-1.586-4.064zm-.414 45.278c0 7.72-6.28 14-14 14h-70.912c-7.72 0-14-6.28-14-14v-51.774c0-7.72 6.28-14 14-14h61.984c1.115 0 2.188.47 2.942 1.291l18.929 20.56c.682.74 1.057 1.703 1.057 2.709z"/></svg>
        </div>
        <p class="xsmall bold gray">External Page Design / Development</p>
        <p class="small">Increase traffic to a custom external landing page, improve your brand’s story on a custom about page, or create page to share customer stories and reviews.</p>
      </div>
    </div>
  </div>
  <div class="what-we-do__arrows"></div>
</div>