<div class="work index-section" id="work">
  <h1 class="header featured">Featured Projects</h1>
  <div class="work__featured">
    <div class="work__featured-item">
      <div class="work__featured-image">
        <img src="images/businessinsider.png" />
      </div>
      <div class="work__featured-text">
        <div class="work__featured-header">
          <h3>Business Insider</h3>
          <a href="https://store.businessinsider.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="work__featured-content">
          <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
          <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
        </div>
      </div>
    </div>
    <div class="work__featured-item">
      <div class="work__featured-text">
        <div class="work__featured-header">
          <h3>Code Sleep Repeat</h3>
          <a href="https://codesleeprepeat.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="work__featured-content">
          <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
          <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
        </div>
      </div>
      <div class="work__featured-image">
        <img src="images/codesleeprepeat.png" />
      </div>
    </div>
  </div>
  <h1 class="header more">More Projects</h1>
  <div class="work__more">
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/avalow.png" />
      </div>
      <div class="work__more-header">
        <h3>Avalow</h3>
        <a href="https://avalow.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/aguas.png" />
      </div>
      <div class="work__more-header">
        <h3>Aguas Co.</h3>
        <a href="https://www.aguasco.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/raleigh.png" />
      </div>
      <div class="work__more-header">
        <h3>Raleigh Reclaimed</h3>
        <a href="https://www.raleighreclaimed.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/freshsends.png" />
      </div>
      <div class="work__more-header">
        <h3>Fresh Sends</h3>
        <a href="https://www.freshsends.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/burnout.png" />
      </div>
      <div class="work__more-header">
        <h3>Burnout</h3>
        <a href="https://www.byeburnout.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/matcha.png" />
      </div>
      <div class="work__more-header">
        <h3>Matcha Kari</h3>
        <a href="https://www.matcha.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/sparitual.png" />
      </div>
      <div class="work__more-header">
        <h3>Sparitual</h3>
        <a href="https://www.sparitual.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/beanstalk.png" />
      </div>
      <div class="work__more-header">
        <h3>Beanstalk</h3>
        <a href="https://www.beanstalk.co/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
      </div>
    </div>
  </div>
</div>