<div class="work index-section" id="work">
  <h1 class="header featured">Featured Projects</h1>
  <div class="work__featured">
    <div class="work__featured-item">
      <div class="work__featured-image">
        <img src="images/businessinsider.png" />
      </div>
      <div class="work__featured-text">
        <div class="work__featured-header">
          <h3>Business Insider</h3>
          <a href="https://store.businessinsider.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="work__featured-content">
          <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
          <p class="small bold gray">store setup / design / development / digital downloads configuration</p>
        </div>
      </div>
    </div>
    <div class="work__featured-item reversed">
      <div class="work__featured-text">
        <div class="work__featured-header">
          <h3>Code Sleep Repeat</h3>
          <a href="https://codesleeprepeat.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="work__featured-content">
          <p>Unique and playful layout for computer science and coding program company, Code Sleep Repeat. Transferred from WordPress to allow for a seamless course registration and sign up process and customized the account template for parent’s to access various legal documents and course requirements.</p>
          <p class="small bold gray">store setup / theme development</p>
        </div>
      </div>
      <div class="work__featured-image">
        <img src="images/codesleeprepeat.png" />
      </div>
    </div>
  </div>
  <h1 class="header more">More Projects</h1>
  <div class="work__more">
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/avalow.png" />
      </div>
      <div class="work__more-header">
        <h3>Avalow</h3>
        <a href="https://avalow.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Worked directly with Business Insider to set up and develop their Business Insider Intelligence briefings Ecommerce store along with product and data transfer from previous platform.</p>
        <p class="small bold gray">store setup / theme development / subscriptions</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/aguas.png" />
      </div>
      <div class="work__more-header">
        <h3>Aguas Co.</h3>
        <a href="https://www.aguasco.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Lifestyle and surfing apparel company, Aguas Co went with a bold and minimal layout. Maintained a simple aesthetic to showcase photography and company mission and values.</p>
        <p class="small bold gray">store setup / design / theme development</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/raleigh.png" />
      </div>
      <div class="work__more-header">
        <h3>Raleigh Reclaimed</h3>
        <a href="https://www.raleighreclaimed.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Raleigh-based custom furniture company, Raleigh Reclaimed focused on lifestyle photography showcasing the process, the craft, and the work. Custom product builder to allow variable inputs to be selected based on finish, material, dimensions and more.</p>
        <p class="small bold gray">store setup / theme development / custom product options configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/freshsends.png" />
      </div>
      <div class="work__more-header">
        <h3>Fresh Sends</h3>
        <a href="https://www.freshsends.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>National flower delivery team based in Denver, Colorado, Fresh Sends seeks to be the flower delivery company for everyone and break away from the standard flower company mold by utilizing quirky copy, personalized cards with every order, and partnerships with local non-profits.</p>
        <p class="small bold gray">store setup / design / theme development / subscriptions / shipping date configuration</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/burnout.png" />
      </div>
      <div class="work__more-header">
        <h3>Burnout</h3>
        <a href="https://www.byeburnout.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Simple interactive custom theme for candle lifestyle brand, Bye  Burnout, relied on fun animation and easy checkout flows. Burnout provides an engaging and unique shopping experience.</p>
        <p class="small bold gray">store setup / theme development / custom animations</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/matcha.png" />
      </div>
      <div class="work__more-header">
        <h3>Matcha Kari</h3>
        <a href="https://www.matcha.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Matcha Kari emphasized their superior matcha quality through the use of storytelling and creative graphics. Included a customer quiz recommendation tool, wholesale login and pricing configuration, subscription options, and a referral program.</p>
        <p class="small bold gray">store setup / design / theme development / wholesale login / referral program / subscriptions</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/sparitual.png" />
      </div>
      <div class="work__more-header">
        <h3>Sparitual</h3>
        <a href="https://www.sparitual.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Styled with muted colors and rich photography, Skin Care brand, Sparitual, showcases their products with subtle animations and unique layouts. Configured a wholesale/professional partners component without the use of a third party app.</p>
        <p class="small bold gray">store setup / theme development / wholesale login</p>
      </div>
    </div>
    <div class="work__more-item">
      <div class="work__more-bg"></div>
      <div class="work__more-image">
        <img src="images/atlas.png" />
      </div>
      <div class="work__more-header">
        <h3>Atlas Standard</h3>
        <a href="https://www.atlas-standard.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="work__more-content">
        <p>Atlas Standard is a high quality clothing brand focusing on protection, comfort, and style. Incorporated a modern and elegant design to showcase the clothing and provide a seamless customer experience on desktop and mobile.</p>
        <p class="small bold gray">store setup / theme development</p>
      </div>
    </div>
  </div>
</div>