/*============================================================================
  General
==============================================================================*/
/*================ Colors ================*/
/*================ Breakpoints ================*/
/*================ Fonts ================*/
@import url("https://use.typekit.net/afg5jhn.css");
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Heavy.woff") format("woff");
  font-weight: 900; }

body {
  font-family: 'Soleil', sans-serif; }

h1 {
  margin-top: 0;
  font-family: 'Avenir Next', sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: 1.25px; }
  h1.large {
    font-size: 70px;
    line-height: 90px; }
    @media screen and (max-width: 768px) {
      h1.large {
        font-size: 36px;
        line-height: 50px; } }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
      line-height: 42px; } }

h2 {
  margin-top: 0;
  font-family: 'Soleil', sans-serif;
  font-size: 35px;
  line-height: 44px;
  font-weight: bold;
  letter-spacing: 1.25px; }

h3 {
  margin-top: 0;
  font-family: 'Soleil', sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: .8px; }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 22px;
      line-height: 30px; } }

h4 {
  margin-top: 0;
  font-family: 'Soleil', sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: .8px; }
  @media screen and (max-width: 768px) {
    h4 {
      font-size: 22px;
      line-height: 30px; } }

p {
  margin-top: 0;
  font-family: 'Soleil', sans-serif;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: .5px; }
  p.xsmall {
    font-size: 12px;
    line-height: 18px; }
  p.small {
    font-size: 14px;
    line-height: 18px; }
    @media screen and (max-width: 768px) {
      p.small {
        font-size: 12px; } }
  p.large {
    font-size: 20px;
    line-height: 25px; }
    @media screen and (max-width: 768px) {
      p.large {
        font-size: 18px; } }
  p.bold {
    font-weight: bold; }
  p.gray {
    color: #747474; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 15px;
      line-height: 21px; } }

/*================ Animations ================*/
@keyframes distort1 {
  0% {
    top: 49.5%;
    left: 49.5%; }
  12.5% {
    top: 49.5%;
    left: 50%; }
  25% {
    top: 49.5%;
    left: 50.5%; }
  37.5% {
    top: 50%;
    left: 50.5%; }
  50% {
    top: 50.5%;
    left: 50.5%; }
  62.5% {
    top: 50.5%;
    left: 50%; }
  75% {
    top: 50.5%;
    left: 49.5%; }
  87.5% {
    top: 50%;
    left: 49.5%; }
  100% {
    top: 49.5%;
    left: 49.5%; } }

@keyframes distort2 {
  0% {
    top: 50.5%;
    left: 50.5%; }
  12.5% {
    top: 50%;
    left: 50.5%; }
  25% {
    top: 49.5%;
    left: 50.5%; }
  37.5% {
    top: 49.5%;
    left: 50%; }
  50% {
    top: 49.5%;
    left: 49.5%; }
  62.5% {
    top: 50%;
    left: 49.5%; }
  75% {
    top: 50.5%;
    left: 49.5%; }
  87.5% {
    top: 50.5%;
    left: 50%; }
  100% {
    top: 50.5%;
    left: 50.5%; } }

/*================ Mixins ================*/
/*================ Utility ================*/
body {
  background: #111111;
  color: #FFFFFF; }

img {
  max-width: 100%; }

.page-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px; }
  @media screen and (max-width: 768px) {
    .page-width {
      padding: 0 20px; } }

.index-section {
  margin: 125px 0; }
  @media screen and (max-width: 768px) {
    .index-section {
      margin: 100px 0; } }

.header {
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .header {
      margin-bottom: 20px; } }

/*============================================================================
  Hero
==============================================================================*/
.logo {
  padding: 20px 0;
  position: absolute;
  top: 0; }
  .logo img {
    max-width: 55px;
    width: 100%; }

.hero {
  height: 100vh;
  min-height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative; }

.hero__bg-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__bg-container:hover .effect-1 {
    position: relative; }
    .hero__bg-container:hover .effect-1:before, .hero__bg-container:hover .effect-1:after {
      position: absolute;
      content: "We like Shopify,";
      width: 100%;
      transform: translate(-50%, -50%);
      z-index: -1; }
    .hero__bg-container:hover .effect-1:before {
      top: 49.5%;
      left: 49.5%;
      color: rgba(233, 30, 99, 0.8);
      animation: distort1 200ms linear infinite; }
    .hero__bg-container:hover .effect-1:after {
      top: 50%;
      left: 50%;
      color: rgba(3, 169, 244, 0.8);
      animation: distort2 200ms linear infinite; }
  .hero__bg-container:hover .effect-2 {
    position: relative; }
    .hero__bg-container:hover .effect-2:before, .hero__bg-container:hover .effect-2:after {
      position: absolute;
      content: "Like a lot.";
      width: 100%;
      transform: translate(-50%, -50%);
      z-index: -1; }
    .hero__bg-container:hover .effect-2:before {
      top: 49.5%;
      left: 49.5%;
      color: rgba(233, 30, 99, 0.8);
      animation: distort1 200ms linear infinite; }
    .hero__bg-container:hover .effect-2:after {
      top: 50%;
      left: 50%;
      color: rgba(3, 169, 244, 0.8);
      animation: distort2 200ms linear infinite; }

.hero__bg {
  height: 65%;
  width: 73%;
  background-image: url("../images/pattern.svg");
  background-size: cover;
  background-position: center;
  opacity: .5; }

.hero__nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  right: -10%;
  z-index: 99; }
  .hero__nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px; }
  .hero__nav .hero__nav--divider {
    width: 50px;
    margin: 0 10px;
    border-bottom: 1px solid #FFFFFF; }
    @media screen and (max-width: 768px) {
      .hero__nav .hero__nav--divider {
        width: 20px; } }
  @media screen and (max-width: 768px) {
    .hero__nav {
      transform: unset;
      top: 20px;
      right: 0; } }

.hero__text {
  width: 100%;
  position: absolute;
  z-index: 9; }
  .hero__text span {
    width: 100%;
    display: inline-block;
    position: relative; }

/*============================================================================
  What we Do
==============================================================================*/
@media screen and (max-width: 768px) {
  .what-we-do h1 {
    margin-left: 20px; } }

@media screen and (max-width: 768px) {
  .what-we-do {
    margin-left: -20px;
    margin-right: -20px; } }

.what-we-do:hover h1 {
  position: relative; }
  .what-we-do:hover h1:before, .what-we-do:hover h1:after {
    position: absolute;
    content: "What We Do";
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .what-we-do:hover h1:before {
    top: 49.5%;
    left: 49.5%;
    color: rgba(233, 30, 99, 0.8);
    animation: distort1 200ms linear infinite; }
  .what-we-do:hover h1:after {
    top: 50%;
    left: 50%;
    color: rgba(3, 169, 244, 0.8);
    animation: distort2 200ms linear infinite; }

.what-we-do__slide-container {
  padding-right: 20px;
  padding-left: 2px; }
  .what-we-do__slide-container .bold {
    margin-top: 25px;
    margin-bottom: 5px; }

.what-we-do__icon {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.025); }
  .what-we-do__icon svg {
    width: 40px;
    height: auto;
    fill: white; }

.what-we-do__arrows {
  position: relative;
  padding-top: 75px;
  display: flex;
  justify-content: flex-end; }
  .what-we-do__arrows .slick-arrow {
    position: unset;
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer; }
  @media screen and (max-width: 768px) {
    .what-we-do__arrows {
      padding-right: 20px; } }

/*============================================================================
  Work
==============================================================================*/
.work:hover .featured {
  position: relative; }
  .work:hover .featured:before, .work:hover .featured:after {
    position: absolute;
    content: "Featured Projects";
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .work:hover .featured:before {
    top: 49.5%;
    left: 49.5%;
    color: rgba(233, 30, 99, 0.8);
    animation: distort1 200ms linear infinite; }
  .work:hover .featured:after {
    top: 50%;
    left: 50%;
    color: rgba(3, 169, 244, 0.8);
    animation: distort2 200ms linear infinite; }

.work:hover .more {
  position: relative; }
  .work:hover .more:before, .work:hover .more:after {
    position: absolute;
    content: "More Projects";
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .work:hover .more:before {
    top: 49.5%;
    left: 49.5%;
    color: rgba(233, 30, 99, 0.8);
    animation: distort1 200ms linear infinite; }
  .work:hover .more:after {
    top: 50%;
    left: 50%;
    color: rgba(3, 169, 244, 0.8);
    animation: distort2 200ms linear infinite; }

.work__featured {
  margin-bottom: 120px; }

.work__featured-item {
  display: flex;
  align-items: center;
  margin-bottom: 100px; }
  @media screen and (max-width: 768px) {
    .work__featured-item.reversed {
      flex-direction: column-reverse; } }
  @media screen and (max-width: 768px) {
    .work__featured-item {
      flex-wrap: wrap; } }

.work__featured-image {
  width: 55%;
  flex-shrink: 0;
  position: relative;
  z-index: 9; }
  .work__featured-image img {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24); }
  @media screen and (max-width: 768px) {
    .work__featured-image {
      width: 100%; } }

.work__featured-header {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .work__featured-header h2, .work__featured-header i {
    color: white; }
  .work__featured-header i {
    font-size: 15px; }

.work__featured-content {
  padding: 20px;
  background: #2F2F2F; }
  .work__featured-content p:not(.small) {
    margin-bottom: 20px;
    color: white; }

.work__more {
  display: flex;
  flex-wrap: wrap; }

.work__more-item {
  width: 50%;
  margin-bottom: 100px;
  background: #2F2F2F;
  position: relative; }
  @media screen and (max-width: 768px) {
    .work__more-item {
      width: 100%;
      margin-bottom: 75px; } }

.work__more-bg {
  position: absolute;
  width: 100%;
  height: 175px;
  background: #111111; }
  @media screen and (max-width: 768px) {
    .work__more-bg {
      height: 100px; } }

.work__more-image {
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  z-index: 9; }
  .work__more-image img {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24); }

.work__more-header {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .work__more-header h2, .work__more-header i {
    color: white; }
  .work__more-header i {
    font-size: 15px; }
  @media screen and (max-width: 768px) {
    .work__more-header {
      padding: 5px 20px; } }

.work__more-content {
  padding: 5px 30px 30px;
  background: #2F2F2F; }
  .work__more-content p:not(.small) {
    margin-bottom: 20px;
    color: white; }
  @media screen and (max-width: 768px) {
    .work__more-content {
      padding: 5px 20px 20px; } }

/*============================================================================
  About
==============================================================================*/
.about:hover h1 {
  position: relative; }
  .about:hover h1:before, .about:hover h1:after {
    position: absolute;
    content: "About Us";
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .about:hover h1:before {
    top: 49.5%;
    left: 49.5%;
    color: rgba(233, 30, 99, 0.8);
    animation: distort1 200ms linear infinite; }
  .about:hover h1:after {
    top: 50%;
    left: 50%;
    color: rgba(3, 169, 244, 0.8);
    animation: distort2 200ms linear infinite; }

.about__text {
  padding-bottom: 80px;
  display: flex; }
  .about__text h4 {
    width: 45%;
    padding-right: 40px;
    flex-shrink: 0; }
    @media screen and (max-width: 768px) {
      .about__text h4 {
        width: 100%;
        margin-bottom: 25px;
        padding: 0; } }
  .about__text p {
    margin-bottom: 23px; }
  @media screen and (max-width: 768px) {
    .about__text {
      padding-bottom: 75px;
      flex-wrap: wrap; } }

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px; }
  @media screen and (max-width: 768px) {
    .about__grid {
      grid-template-columns: 1fr;
      grid-gap: 50px; } }

.about__employee h4 {
  margin: 20px 0 5px; }

.about__employee a {
  color: #747474;
  text-decoration: underline; }

.about__employee-image {
  width: 100%;
  padding-bottom: 100%;
  background-size: 110%;
  background-position: center;
  background-color: #F7F7F7; }

.about__employee--michael .about__employee-image {
  background-image: url("../images/michael.png"); }

.about__employee--natalie .about__employee-image {
  background-image: url("../images/natalie.png"); }

.about__employee--stephan .about__employee-image {
  background-image: url("../images/stephan.png"); }

/*============================================================================
  Contact
==============================================================================*/
.contact:hover h1 {
  position: relative; }
  .contact:hover h1:before, .contact:hover h1:after {
    position: absolute;
    content: "Stay in touch";
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .contact:hover h1:before {
    top: 49.5%;
    left: 49.5%;
    color: rgba(233, 30, 99, 0.8);
    animation: distort1 200ms linear infinite; }
  .contact:hover h1:after {
    top: 50%;
    left: 50%;
    color: rgba(3, 169, 244, 0.8);
    animation: distort2 200ms linear infinite; }

.contact__container {
  display: flex;
  background: #2F2F2F; }
  @media screen and (max-width: 768px) {
    .contact__container {
      flex-wrap: wrap; } }

.contact__pattern {
  width: 50%;
  background-image: url("../images/pattern.svg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: .5;
  flex-shrink: 0; }
  @media screen and (max-width: 768px) {
    .contact__pattern {
      width: 100%;
      padding-bottom: 50%; } }

.contact__form {
  width: 100%;
  padding: 80px; }
  .contact__form form {
    display: flex;
    flex-direction: column; }
  .contact__form label {
    margin-bottom: 7px;
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px; }
  .contact__form input, .contact__form select, .contact__form textarea {
    padding: 10px;
    margin-bottom: 30px;
    display: block;
    background: #454545;
    font-size: 16px;
    color: #F7F7F7;
    border: 0;
    border-radius: 0;
    resize: none; }
  .contact__form .select-container {
    background: #454545;
    margin-bottom: 30px; }
  .contact__form select {
    height: 38px;
    width: 100%;
    margin: 0; }
  .contact__form input[type="submit"] {
    margin: 0;
    padding: 12px 10px;
    background: #F7F7F7;
    color: #111111;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    border-bottom: 2px solid #747474; }
  @media screen and (max-width: 768px) {
    .contact__form {
      padding: 20px; } }
