<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="page-width">
    <% include ../partials/hero.ejs %>
    <% include ../partials/what-we-do.ejs %>
    <% include ../partials/about.ejs %>
    <% include ../partials/contact.ejs %>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js" integrity="sha256-aVHuwKjAybLqtyxPV5dl4PGQFlgikZ3ceRuzkQlv18A=" crossorigin="anonymous"></script>
</body>
</html>
