<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="page-width">
    <% include ../partials/hero.ejs %>
    <% include ../partials/what-we-do.ejs %>
    <% include ../partials/work.ejs %>
    <% include ../partials/about.ejs %>
    <% include ../partials/contact.ejs %>
  </div>
  
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</body>
</html>
